<%- include('header') -%>

<h2> This is an about page </h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus iste aperiam doloribus nulla natus totam iure amet placeat eos molestiae provident deleniti accusamus, dignissimos nam obcaecati delectus eaque? Voluptate, ratione?
Illo totam et rerum quibusdam at dicta architecto dignissimos vitae incidunt possimus. Voluptatibus alias, illum quo voluptas quidem quasi labore cupiditate libero exercitationem animi excepturi aliquam dolores vero. Officiis, reiciendis.
Dolorem nobis eligendi quae nulla rerum corrupti, quasi accusamus quo dicta blanditiis possimus itaque quos inventore placeat a minima totam quaerat voluptates magni. Quis veritatis iusto illo eaque, aut eligendi.
Non laborum, officia aspernatur esse hic omnis necessitatibus repellendus alias fugiat sapiente. Labore qui possimus, amet ab architecto aut illum cupiditate, totam quod voluptas illo mollitia, minima blanditiis adipisci quae.
Odio, numquam. Suscipit, quasi corporis quas beatae maiores ea dicta corrupti maxime adipisci laudantium numquam vero reprehenderit eligendi ipsum amet nemo quod aliquam por</p>

<%- include('footer') -%>